@charset "UTF-8";


body {
	
	margin:0;
	padding:0;
	
}

td.menu01 {
	
	font-size : 16px;
	color: #ffffff;
	font-family: Arial;
	text-align: center;
	
}

td.menu02 {
	
	font-size : 16px;
	color: #bfb7bc;
	font-family: Arial;
	text-align: center;
	height: 27px;
	
}

a:link {
	text-decoration: none;
	color: #ffffff;	
}

a:visited {	
	text-decoration: none;
	color: #ffffff;	
}

a:hover {	
	text-decoration: underline;
	color:#808080;	
}









